.login-status-header {
  display: flex;
  align-items: center;
}

.login-status-user-info {
  line-height: 43px;
  border: 1px;
  padding: 0 17px;
  border-radius: 3px;
  transition: all 0.5s ease;
  margin-right: 15px;
}

.security-btn {
  position: relative;
  right: 0;
  min-width: 95px;
  color: #fff;
  border: 10px solid #205b8d;
  border-radius: 43px;
  background: #205b8d;
  cursor: pointer;
}

.security-btn:hover {
  background: #0a4275;
  border: 10px solid #0a4275;
}
