<div class="login-status-header">
  <span *ngIf="isAuthenticated && userName" class="login-status-user-info">
    Hi {{ userName }}
  </span>

  <a *ngIf="!isAuthenticated" routerLink="/login" class="header-text-link">
    Login
  </a>
  <span *ngIf="!isAuthenticated" class="link-divider">|</span>
  <a *ngIf="!isAuthenticated" routerLink="/register" class="header-text-link">
    Register
  </a>
  <span class="link-divider">|</span>

  <a routerLink="/orders" class="header-text-link">Orders</a>
  <span class="link-divider">|</span>
  <a routerLink="/orders" class="header-text-link">My Account</a>

  <button
    *ngIf="isAuthenticated"
    (click)="logout()"
    class="header-text-link logout-link"
  >
    Logout
  </button>
</div>
