.items {
    margin-bottom: 15px;
}

.row.no-gutters {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.col {
    display: flex;
    align-items: center;
}

.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.ml-4 {
    margin-left: 1.5rem;
}

.mr-2 {
    margin-right: 0.5rem;
}

.ml-2 {
    margin-left: 0.5rem;
}

.mt-2 {
    margin-top: 0.5rem;
}
