<section class="product-carousel-section" *ngIf="products.length > 0">
  <div class="carousel-header">
    <h3 class="carousel-title">{{ title }}</h3>
    <div class="carousel-actions">
      <a
        *ngIf="actionLabel && actionLink"
        [routerLink]="actionLink"
        class="action-link"
      >
        {{ actionLabel }}
      </a>
      <a *ngIf="showViewAll" [routerLink]="viewAllLink" class="view-all-link">
        View More <i class="fas fa-chevron-right"></i>
      </a>
    </div>
  </div>

  <div class="carousel-wrapper">
    <button
      class="carousel-arrow carousel-arrow-left"
      (click)="scrollLeft(carouselTrack)"
      [class.hidden]="!canScrollLeft(carouselTrack)"
      aria-label="Scroll left"
    >
      <i class="fas fa-chevron-left"></i>
    </button>

    <div
      class="carousel-track"
      #carouselTrack
      (scroll)="onScroll(carouselTrack)"
    >
      <div class="carousel-card-wrapper" *ngFor="let product of products">
        <app-product-card
          [product]="product"
          [showFireSaleBadge]="showFireSale"
          [showMoreDealsBadge]="showMoreDeals"
          [showAlotForLessBadge]="showAlotForLess"
          [showAddToCart]="true"
          (addToCartClicked)="onAddToCart($event)"
        ></app-product-card>
      </div>
    </div>

    <button
      class="carousel-arrow carousel-arrow-right"
      (click)="scrollRight(carouselTrack)"
      [class.hidden]="!canScrollRight(carouselTrack)"
      aria-label="Scroll right"
    >
      <i class="fas fa-chevron-right"></i>
    </button>
  </div>
</section>
