<nav class="department-sidebar" *ngIf="!loading && departments.length > 0">
  <div class="sidebar-header">
    <span>Shop by Department</span>
    <i class="fa fa-chevron-down header-chevron"></i>
  </div>
  <ul class="department-list">
    <li
      *ngFor="let dept of departments"
      class="department-item"
      (mouseenter)="onDeptHover(dept)"
      (mouseleave)="onDeptLeave()"
    >
      <a
        [routerLink]="['/category', dept.id, dept.slug || dept.categoryName]"
        class="department-link"
      >
        <span class="department-name">{{ dept.categoryName }}</span>
        <i class="fa fa-chevron-right department-arrow"></i>
      </a>

      <!-- Flyout submenu -->
      <div
        class="submenu-flyout"
        *ngIf="
          activeDepartment === dept && dept.children && dept.children.length > 0
        "
        (mouseenter)="onDeptHover(dept)"
        (mouseleave)="onDeptLeave()"
      >
        <div class="submenu-content">
          <h4 class="submenu-title">{{ dept.categoryName }}</h4>
          <ul class="submenu-list">
            <li *ngFor="let child of dept.children">
              <a
                [routerLink]="[
                  '/category',
                  child.id,
                  child.slug || child.categoryName,
                ]"
                class="submenu-link"
              >
                {{ child.categoryName }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
  <a routerLink="/products" class="sidebar-promo-banner">
    <span class="promo-brand">NexBuy</span><span class="promo-more">more</span>
    <span class="promo-deals">Deals</span>
  </a>
</nav>

<nav class="department-sidebar loading-state" *ngIf="loading">
  <div class="sidebar-header">
    <span>Shop by Department</span>
    <i class="fa fa-chevron-down header-chevron"></i>
  </div>
  <div class="sidebar-loading">
    <div
      class="skeleton-item"
      *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]"
    ></div>
  </div>
</nav>
