<div
  class="cart-container"
  (mouseenter)="handleMouseEnter()"
  (mouseleave)="handleMouseLeave()"
  (click)="toggleHover()"
>
  <div class="cart-icon">
    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
    <span class="badge">{{ totalQuantity }}</span>
  </div>

  <!-- Cart Dropdown -->
  <div class="cart-dropdown" [class.show]="isHovering">
    <div class="cart-dropdown-inner">
      <div class="cart-header">
        <h4>{{ "CART.SHOPPING_CART" | translate }}</h4>
      </div>

      <div class="cart-items" *ngIf="cartItems.length > 0">
        <div class="cart-item" *ngFor="let item of cartItems">
          <div class="item-image">
            <img
              [src]="item.imageUrl"
              alt="{{ item.name }}"
              *ngIf="item.imageUrl"
            />
          </div>
          <div class="item-details">
            <div class="item-name">{{ item.name }}</div>
            <div class="item-price">
              {{ item.unitPrice | nexbuyCurrency }} x {{ item.quantity }}
            </div>
          </div>
        </div>
      </div>

      <div class="cart-empty" *ngIf="cartItems.length === 0">
        <p>{{ "CART.EMPTY" | translate }}</p>
      </div>

      <div class="cart-footer" *ngIf="cartItems.length > 0">
        <div class="cart-total">
          <span>{{ "CART.TOTAL" | translate }}</span>
          <span>{{ totalPrice | nexbuyCurrency }}</span>
        </div>
        <div class="cart-actions">
          <a
            routerLink="/cart-details"
            class="btn-view-cart"
            (click)="closeDropdown(); $event.stopPropagation()"
            >{{ "CART.VIEW_CART" | translate }}</a
          >
          <a
            routerLink="/checkout"
            class="btn-checkout"
            (click)="closeDropdown(); $event.stopPropagation()"
            >{{ "CART.CHECKOUT" | translate }}</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
