<div class="main-content page-m">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
        <!--  Customer Details -->
        <div formGroupName="customer" class="form-area">
          <h3 class="title-1 mb-20">Customer Details</h3>
          <div class="row">
            <div class="col-md-2">
              <label for="firstName">First Name</label>
            </div>
            <div class="input-space">
              <input
                type="text"
                id="firstName"
                class="form-control"
                formControlName="firstName"
              />
              <div
                *ngIf="
                  firstName.invalid && (firstName.dirty || firstName.touched)
                "
                class="alert alert-danger mt-1"
              >
                <div
                  *ngIf="
                    firstName.errors?.['required'] ||
                    firstName.errors?.['whiteSpaceValidator']
                  "
                >
                  First name is required
                </div>
                <div *ngIf="firstName.errors?.['minlength']">
                  First name must be at least 2 characters long
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="lastName">Last Name</label>
            </div>
            <div class="input-space">
              <input
                type="text"
                id="lastName"
                class="form-control"
                formControlName="lastName"
              />
              <div
                *ngIf="
                  lastName.errors?.['required'] &&
                  (lastName.dirty || lastName.touched)
                "
                class="alert alert-danger mt-1"
              >
                <div
                  *ngIf="
                    lastName.errors?.['required'] ||
                    lastName.errors?.['whiteSpaceValidator']
                  "
                >
                  Last name is required
                </div>
                <div *ngIf="lastName.errors?.['minlength']">
                  Last name must be at least 2 characters long
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="email">Email</label>
            </div>
            <div class="input-space">
              <input
                type="email"
                id="email"
                class="form-control"
                formControlName="email"
              />
              <div
                *ngIf="
                  email.errors?.['required'] && (email.dirty || email.touched)
                "
                class="alert alert-danger mt-1"
              >
                <div *ngIf="email.errors?.['required']">Email is required</div>
                <div *ngIf="email.errors?.['pattern']">
                  Email must be a valid email address
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Shipping Address Details-->
        <div formGroupName="shippingAddress" class="form-area">
          <h3 class="title-1 mb-20">Shipping Address</h3>
          <div class="row">
            <div class="col-md-2">
              <label for="street">Street</label>
            </div>
            <div class="input-space">
              <input
                type="text"
                id="street"
                class="form-control"
                formControlName="street"
              />
              <div
                *ngIf="
                  shippingAddressStreet.invalid &&
                  (shippingAddressStreet.dirty || shippingAddressStreet.touched)
                "
                class="alert alert-danger mt-1"
              >
                <div
                  *ngIf="
                    shippingAddressStreet.errors?.['required'] ||
                    shippingAddressStreet.errors?.['whiteSpace']
                  "
                >
                  Street is required
                </div>
                <div *ngIf="shippingAddressStreet.errors?.['minlength']">
                  Street must be at least 2 characters long
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="city">City</label>
            </div>
            <div class="input-space">
              <input
                type="text"
                id="city"
                class="form-control"
                formControlName="city"
              />
              <div
                *ngIf="
                  shippingAddressCity.invalid &&
                  (shippingAddressCity.dirty || shippingAddressCity.touched)
                "
                class="alert alert-danger mt-1"
              >
                <div
                  *ngIf="
                    shippingAddressCity.errors?.['required'] ||
                    shippingAddressCity.errors?.['whiteSpace']
                  "
                >
                  City is required
                </div>
                <div *ngIf="shippingAddressCity.errors?.['minlength']">
                  City must be at least 2 characters long
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="country">Country</label>
            </div>
            <div class="input-space">
              <select formControlName="country" class="form-control">
                <option *ngFor="let country of countries" [ngValue]="country">
                  {{ country.name }}
                </option>
              </select>
              <div
                *ngIf="
                  shippingAddressCountry.invalid &&
                  (shippingAddressCountry.dirty ||
                    shippingAddressCountry.touched)
                "
                class="alert alert-danger mt-1"
              >
                <div *ngIf="shippingAddressCountry.errors?.['required']">
                  Country is required
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="state">State/Province</label>
            </div>
            <div class="input-space">
              <select formControlName="state" class="form-control">
                <option
                  *ngFor="let state of shippingAddressStates"
                  [ngValue]="state"
                >
                  {{ state.name }}
                </option>
              </select>
              <div
                *ngIf="
                  shippingAddressState.invalid &&
                  (shippingAddressState.dirty || shippingAddressState.touched)
                "
                class="alert alert-danger mt-1"
              >
                <div *ngIf="shippingAddressState.errors?.['required']">
                  State/Province is required
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="zipCode">Zip Code</label>
            </div>
            <div class="input-space">
              <input
                type="text"
                id="zipCode"
                class="form-control"
                formControlName="zipCode"
              />
              <div
                *ngIf="
                  shippingAddressZipCode.invalid &&
                  (shippingAddressZipCode.dirty ||
                    shippingAddressZipCode.touched)
                "
                class="alert alert-danger mt-1"
              >
                <div
                  *ngIf="
                    shippingAddressZipCode.errors?.['required'] ||
                    shippingAddressZipCode.errors?.['whiteSpace']
                  "
                >
                  Zip Code is required
                </div>
                <div *ngIf="shippingAddressZipCode.errors?.['minlength']">
                  Zip Code must be at least 2 characters long
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Checkbox to copy shipping address to billing -->
        <div class="row mb-3">
          <div class="col-md-12">
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="copyShippingToBilling"
                (change)="copyShippingToBilling($event)"
              />
              <label class="form-check-label" for="copyShippingToBilling">
                Same as shipping address
              </label>
            </div>
          </div>
        </div>

        <!-- Billing Address -->
        <div formGroupName="billingAddress" class="form-area">
          <h3 class="title-1 mb-20">Billing Address</h3>
          <div class="row">
            <div class="col-md-2">
              <label for="billingStreet">Street</label>
            </div>
            <div class="input-space">
              <input
                type="text"
                id="billingStreet"
                class="form-control"
                formControlName="street"
              />
              <div
                *ngIf="
                  billingAddressStreet.invalid &&
                  (billingAddressStreet.dirty || billingAddressStreet.touched)
                "
                class="alert alert-danger mt-1"
              >
                <div
                  *ngIf="
                    billingAddressStreet.errors?.['required'] ||
                    billingAddressStreet.errors?.['whiteSpace']
                  "
                >
                  Street is required
                </div>
                <div *ngIf="billingAddressStreet.errors?.['minlength']">
                  Street must be at least 2 characters long
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="billingCity">City</label>
            </div>
            <div class="input-space">
              <input
                type="text"
                id="billingCity"
                class="form-control"
                formControlName="city"
              />
              <div
                *ngIf="
                  billingAddressCity.invalid &&
                  (billingAddressCity.dirty || billingAddressCity.touched)
                "
                class="alert alert-danger mt-1"
              >
                <div
                  *ngIf="
                    billingAddressCity.errors?.['required'] ||
                    billingAddressCity.errors?.['whiteSpace']
                  "
                >
                  City is required
                </div>
                <div *ngIf="billingAddressCity.errors?.['minlength']">
                  City must be at least 2 characters long
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="billingCountry">Country</label>
            </div>
            <div class="input-space">
              <select formControlName="country" class="form-control">
                <option *ngFor="let country of countries" [ngValue]="country">
                  {{ country.name }}
                </option>
              </select>
              <div
                *ngIf="
                  billingAddressCountry.invalid &&
                  (billingAddressCountry.dirty || billingAddressCountry.touched)
                "
                class="alert alert-danger mt-1"
              >
                <div *ngIf="billingAddressCountry.errors?.['required']">
                  Country is required
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="billingState">State/Province</label>
            </div>
            <div class="input-space">
              <select formControlName="state" class="form-control">
                <option
                  *ngFor="let state of billingAddressStates"
                  [ngValue]="state"
                >
                  {{ state.name }}
                </option>
              </select>
              <div
                *ngIf="
                  billingAddressState.invalid &&
                  (billingAddressState.dirty || billingAddressState.touched)
                "
                class="alert alert-danger mt-1"
              >
                <div *ngIf="billingAddressState.errors?.['required']">
                  State/Province is required
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="billingZipCode">Zip Code</label>
            </div>
            <div class="input-space">
              <input
                type="text"
                id="billingZipCode"
                class="form-control"
                formControlName="zipCode"
              />
              <div
                *ngIf="
                  billingAddressZipCode.invalid &&
                  (billingAddressZipCode.dirty || billingAddressZipCode.touched)
                "
                class="alert alert-danger mt-1"
              >
                <div
                  *ngIf="
                    billingAddressZipCode.errors?.['required'] ||
                    billingAddressZipCode.errors?.['whiteSpace']
                  "
                >
                  Zip Code is required
                </div>
                <div *ngIf="billingAddressZipCode.errors?.['minlength']">
                  Zip Code must be at least 2 characters long
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Payment Details -->
        <div class="form-area">
          <h3 class="title-1 mb-20">Payment Details</h3>

          <!-- Email receipt option -->
          <div class="row mb-3">
            <div class="col-md-12">
              <div class="form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="sendReceipt"
                  (change)="toggleEmailReceipt($event)"
                  [checked]="sendEmailReceipt"
                />
                <label class="form-check-label" for="sendReceipt">
                  Send receipt to my email
                </label>
              </div>
            </div>
          </div>

          <!-- Stripe Payment Element will be mounted here -->
          <div id="payment-element" class="mb-3"></div>

          <!-- Payment processing status and errors -->
          <div *ngIf="isProcessingPayment" class="alert alert-info">
            Processing payment... Please wait.
          </div>
          <div *ngIf="paymentError" class="alert alert-danger">
            {{ paymentError }}
          </div>
        </div>

        <!-- Order Review Button -->
        <div class="text-center mb-4">
          <button
            type="button"
            class="btn btn-primary"
            (click)="toggleOrderReview()"
            [disabled]="isProcessingPayment"
          >
            {{
              showOrderReview ? "Hide Order Details" : "Review Order Details"
            }}
          </button>
        </div>

        <!-- Order Review Section -->
        <div *ngIf="showOrderReview" class="form-area">
          <h3 class="title-1 mb-20">Order Review</h3>

          <!-- Display message if cart is empty -->
          <div *ngIf="cartItems.length === 0" class="alert alert-warning">
            Your shopping cart is empty.
          </div>

          <!-- Display order items if cart is not empty -->
          <div *ngIf="cartItems.length > 0">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th width="20%">Product Image</th>
                  <th width="50%">Product Detail</th>
                  <th width="30%">Price</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let tempCartItem of cartItems">
                  <td>
                    <img
                      src="{{ tempCartItem.imageUrl }}"
                      class="img-responsive"
                      width="150px"
                    />
                  </td>
                  <td>
                    <p>{{ tempCartItem.name }}</p>
                    <div class="d-flex align-items-center">
                      <p class="mb-0 mr-3">
                        Quantity: {{ tempCartItem.quantity }}
                      </p>
                      <div class="btn-group ml-2">
                        <button
                          type="button"
                          class="btn btn-sm btn-primary"
                          (click)="incrementQuantity(tempCartItem)"
                          [disabled]="isProcessingPayment"
                        >
                          +
                        </button>
                        <button
                          type="button"
                          class="btn btn-sm btn-primary"
                          (click)="decrementQuantity(tempCartItem)"
                          [disabled]="tempCartItem.quantity === 1 || isProcessingPayment"
                        >
                          -
                        </button>
                        <button
                          type="button"
                          class="btn btn-sm btn-danger"
                          (click)="removeFromCart(tempCartItem)"
                          [disabled]="isProcessingPayment"
                        >
                          Remove
                        </button>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p>Price: {{ tempCartItem.unitPrice | currency }}</p>
                    <p>
                      Subtotal:
                      {{ getProductSubtotal(tempCartItem) | currency }}
                    </p>
                  </td>
                </tr>
                <tr>
                  <td colspan="2"></td>
                  <td style="font-weight: bold">
                    <p>Total Quantity: {{ totalQuantity }}</p>
                    <p>Shipping: FREE</p>
                    <p>Total Price: {{ totalPrice | currency }}</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="text-center mt-4">
          <button type="submit" class="btn btn-info" [disabled]="isProcessingPayment">Purchase</button>
        </div>
      </form>
    </div>
  </div>
</div>
